<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Document Upload</title>
</head>
<body>
    <h1>Upload a Document</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="text" name="subject_name">
        <input type="submit" value="Upload">
    </form>
    <br>
    <form method="POST" action="/delete_file" enctype="multipart/form-data">
        <input type="text" name="file_name">
        <input type="submit" value="Submit">
    </form>
    <br>
    <form method="POST" action="/add_subject" enctype="multipart/form-data">
        <input type="text" name="subject_name">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
