.navbar {
    background-color: var(--mantine-color-body);
    height: rem(840px);
    width: rem(300px);
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  }
  
  .navbarMain {
    flex: 1;
    margin-top: var(--mantine-spacing-xl);
  }
  
  .title {
    text-transform: uppercase;
    letter-spacing: rem(-0.25px);
  }
  
  
  
  .linkIcon {
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
    margin-right: var(--mantine-spacing-sm);
    width: rem(25px);
    height: rem(25px);
  }
  
  .footer {
   
    padding-top: var(--mantine-spacing-md);
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;

  }